
.logo-img {
  width: 30%
}

.header_style {
  background: white;
}

.App {
  text-align: center;
}

.content1 {
  background-color: white;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 10px;
  padding-top: 10%;
  padding-bottom: 25%;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.017);


}

.content1_sub1 {
  float: left;

  width: 50%;
  height: auto;
  margin-top: 2%;
  margin-left: 10%;
  padding: 50px 10px 50px;
}

.scroller {
  height: 1.2em;
  line-height: 1.2em;
  position: relative;
  overflow: hidden;
  width: 10em;
  margin-top: -50px;
  margin-left: 10px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 48px;
  color: #519E8A;
}

.scroller>span {
  position: absolute;
  top: 0;
  animation: slide 5s infinite;
  font-weight: bold;

}

@keyframes slide {
  0% {
    top: 0;
  }

  25% {
    top: -1.2em;
  }

  50% {
    top: -2.4em;
  }

  75% {
    top: -3.6em;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.content1_text {
  margin-left: -60%;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 48px;
}
div{
  font-family: 'Josefin Sans', sans-serif;
}
.content1_sub2 {

  padding-left: 15%;
  margin-left: 45%;

}

.content1_products_box {
  background-color: white;
  width: 100px;
  height: 70px;
  border-radius: 25px;
  padding: 30px 15px 30px 15px;
  float: left;
  margin-top: -60px;
  margin-left: 20px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.017);
}

.content1_products_box1 {
  background-color: rgba(255, 255, 255, 0);
  width: 100px;
  height: 70px;
  border-radius: 25px;
  padding: 30px 15px 30px 15px;
  float: left;
  margin-top: 5%;
  margin-right: 100px;
  margin-left: 90px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.017);
}


@property --num {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}



.content2_numbers {
  float: left;
  margin-right: 15%;

  width: 50px;
  height: 50px;
  color: #519E8A;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 28px;
  font-weight: bolder;
}

.content2 {
  margin-top: 25px;
  margin-left: 20%;
  padding-top: 100px;
  padding-bottom: 200px;
}