<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCtrl">
Quantity: <input ng-model="Quantity">
Price:<input ng-model="Price">
<h1>Quantity: {{Quantity * Price}}</h1>
<h1>Price:{{Price}}</h1>
<h1>Fright: {{Quantity * 33.65}}</h1>
<h1>Dry Charge: {{Quantity * 132.21}}</h1>
<h1>Pre Production Loss: {{Quantity * 0.15}}</h1>
<h1>In production: {{Quantity -(Quantity * 0.15)}}</h1>

<h1>Rice: {{(Quantity -(Quantity * 0.15)) * 0.5382}}</h1>


</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.Quantity = 41.60;
    $scope.Price=2400;
    
   
});
</script>

<p>Change the name inside the input field, and you will see the name in the header changes accordingly.</p>

</body>
</html>
